
include \
    LICENSE \
    README.md \
    VERSION \
    setup.* \
    sample/*.sample \


exclude \
    .env \
    .git* \
    requirements.txt \
    *.csv \
    *.json \
    *.yaml \
    *.yml \
    *.ini \
    *.log

prune build
prune dist